.home{
    display: flex;
    /* background: url("banner.jpg") no-repeat center; */
    background-color:rgb(10, 10, 34);
    height: 100vh;
    color: floralwhite;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.max-width img{
    margin-left: 170px;
}
.home .max-width .row{
  margin-right: 0;
}

.home-content .text-1{
    font-size: 27px;
    margin-left: -320px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #4070f4;
    font-weight: 500;
}
.home-content{
    text-align: justify left;
    margin-top: 60px;
    margin-left: 20px;
}

.home .home-content a{
    display: inline-block;
    background: #4070f4;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #4070f4 ;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #4070f4;
    background: none;
}
